<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signin in Moss</title>
	<link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>
<body>
	<div class="signin">
		<p style="margin-left: 67px;font-size: 50px;margin-top: -100px;"><span id="m" style="color: white;">M</span><span id="o" style="color: white;">o</span><span id="s" style="color: white;">s</span><span id="s2" style="color: white;">s</span></p>
		<p style="margin-left: 80px;font-size: 30px;">Sign In</p>
		<form action="" method="post">
			{% csrf_token %}
			<input id="username" type="text" name="username" placeholder="username"><br>
			<input id="password" type="password" name="password" placeholder="password"><br>
			<input id="repeat_password" type="password" name="repeat_password" placeholder="repeat password"><br>
			<button type="sumbit">Start</button>
		</form>
		<a href="{% url 'login' %}">Login</a>
		{% for error in errors %}
			<p style="font-size: 10px;">{{error}}</p>
		{% endfor %}
	</div>
	<script>
		setTimeout(function() {
  			document.getElementById('m').style.color = 'black';
		}, 400);
		
		setTimeout(function() {
  			document.getElementById('o').style.color = 'black';
		}, 800);
		setTimeout(function() {
  			document.getElementById('s').style.color = 'black';
		}, 1200);
		setTimeout(function() {
  			document.getElementById('s2').style.color = 'black';
		}, 1600);
	</script>
</body>
</html>